@use "../config/" as *;
.banner {
  background-image: url("../img/banner.webp");
  background-size: cover;
  position: relative;
  isolation: isolate;
  border-bottom: 0.5rem solid var(--dark-gray);
  &::after {
    content: "";
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    );
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
  }
  width: 100%;
  padding: 13rem 2rem 5rem 2rem;
  h2 {
    margin-bottom: 1.6rem;
  }
  .form-group {
    position: relative;
    input {
      width: 100%;
      background-color: rgba(22, 22, 22, 0.7);
      border-radius: 0.3rem;
      border: 0.1rem solid var(--gray);
      font-size: 1.6rem;
      color: var(--white);
      padding: var(--space-4) var(--space-2) var(--space-1) var(--space-3);
      margin-bottom: var(--space-4);
      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        font-size: 1rem;
        top: var(--space-1);
      }
    }
    label {
      transition: 0.3s;
      pointer-events: none;
      position: absolute;
      font-size: 1.8rem;
      color: var(--white);
      opacity: 0.7;
      left: var(--space-3);
      top: var(--space-2);
    }
  }
  .btn {
    font-size: 1.8rem;
    padding: var(--space-2);
    padding-left: var(--space-4);
  }
  @include mq(md) {
    padding-block: 30rem 20rem;
    form {
      display: flex;
      gap: var(--space-2);
      max-width: 60%;
      margin: auto;
    }
    .form-group {
      width: 70%;
    }
    p {
      font-size: 2.2rem;
    }
    .btn-wrap {
      width: 30%;
      .btn {
        margin: 0;
        width: 100%;
      }
    }
  }
}
