@use "../config/" as *;
.banner {
  background-image: url("../img/banner.webp");
  background-size: cover;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.9)
    );
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
  }
  width: 100%;
  padding: 13rem 2rem 5rem 2rem;
  h2 {
    margin-bottom: 1.6rem;
    font-weight: 600;
    @include mq(md) {
      font-weight: 900;
    }
  }
 

  @include mq(md) {
    padding-block: 30rem 20rem;
   
    p {
      font-size: 2.2rem;
    }
    
  }
}
