@use "../config/" as *;
footer {
  color: var(--silver);
  font-size: 1.6rem;
  a,
  p {
    color: var(--silver);
    font-size: 1.6rem;
  }
  a {
    text-decoration: underline;
  }
  ul {
    margin: var(--space-6) 0;
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-1);
    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .language-dropdown {
    margin: 0;
    margin-bottom: var(--space-6);
  }
}
