@use "../config/" as *;
.language-dropdown {
  margin-inline: auto var(--space-2);
  position: relative;
  width: 6rem;
  height: 3rem;
  @include mq(md) {
    width: 13rem;
    margin-inline: auto var(--space-4);
  }
  &::after {
    content: "";
    border: 0.4rem solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%) rotate(45deg);
  }

  .icon {
    position: absolute;
    left: var(--space-2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    z-index: 2;
  }

  select {
    position: absolute;
    left: 0;
    top: 0;
    color-scheme: dark;
    appearance: none;
    padding-inline: 3rem;
    width: 100%;
    height: 100%;
    // background-color: transparent;
    font-size: 1.4rem;
    border: 0.1rem solid var(--gray);
    border-radius: 0.3rem;
    @include mq(md) {
      padding-inline: 4rem;
    }
    option {
      padding: var(--space-2);
    }
  }
}
.logo {
  color: var(--primary);
  text-transform: uppercase;
  width: 9rem;
  height: 2.5rem;
  border-radius: 0;
  @include mq(md) {
    width: 14.8rem;
    height: 4rem;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--space-5) 0;
}
